.main1{
    background-color: rgb(244, 237, 228);
    max-width: 100%;
    .logo{
        padding-top: 48px;
        padding-left: 8vw;
        padding-right: 8vw;
        margin-bottom: 16px;
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px, 15px;
        .empresas{
            text-align: center;
            font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
            font-size: 14px;
            line-height: 1.125;
            letter-spacing: 0.8px;
            font-weight: 600;

            
        }
        .Airbnb{
            margin: 10px;
            height: 70px;
        }
        .NASA{
            height: 55px;
            margin: 10px;
        }
        .Uber{
            height: 30px;
            margin: 10px;
        }
        .Target{
            height: 50px;
            margin: 10px;
        }
        .NYT{
            height: 50px;
            margin: 10px;
        }
        .Etsy{
            height: 50px;
            margin: 10px;
        }
    }
    .phone_img{
    justify-content: space-around;
    max-width: 100%;
    padding: 15px 0px;
    }
    .phonecard{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        padding: 0px 4vw 2px 4vw;
        font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        .phone_text{
            @include phonesh1()
        }
        .phone_p{
            @include phonep()
        }
        .phone_a{
            @include phonea()
        }  
    }
    .padding{
        margin-top: 65px;
        margin-bottom: 10px;
    }
    .margin{
        padding-bottom: 30px;
    }
}