* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  background-color: rgb(84, 21, 84);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header nav .Icon {
  width: 110px;
  height: 60px;
  padding: 10px 30px;
  padding-bottom: 0px;
}
header nav .burger {
  width: 35px;
  height: 20px;
  padding: 30px 25px;
  padding-bottom: 0px;
}
header .Title1 {
  color: white;
  text-align: center;
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -1.5px;
  letter-spacing: -0.8px;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  margin: 20px 16px 15px 16px;
  font-size: 41px;
}
header p {
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  color: white;
  text-align: center;
  font-weight: 400;
  line-height: 1.444;
  letter-spacing: -0.2px;
  margin: 0 16px 55px 16px;
}
header .Register {
  background-color: white;
  font-weight: 700;
  line-height: 1.444;
  letter-spacing: 0.2px;
  color: rgb(84, 21, 84);
  width: 92%;
  height: 55px;
  margin-bottom: 10px;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}
header .ButtonGoogle {
  font-weight: 700;
  line-height: 1.444;
  letter-spacing: 0.2px;
  background-color: #4285f4;
  width: 92%;
  height: 55px;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}
header .ButtonGoogle .Googlep {
  padding: 20px 0px 0px 40px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-around;
  letter-spacing: 0.8px;
}
header .ButtonGoogle .Google_img {
  width: 53px;
  position: absolute;
  left: 28px;
}
header .Screen {
  margin: 30px 0 0 0;
  display: block;
  justify-items: right;
  width: 100%;
}

.main1 {
  background-color: rgb(244, 237, 228);
  max-width: 100%;
}
.main1 .logo {
  padding-top: 48px;
  padding-left: 8vw;
  padding-right: 8vw;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px, 15px;
}
.main1 .logo .empresas {
  text-align: center;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.125;
  letter-spacing: 0.8px;
  font-weight: 600;
}
.main1 .logo .Airbnb {
  margin: 10px;
  height: 70px;
}
.main1 .logo .NASA {
  height: 55px;
  margin: 10px;
}
.main1 .logo .Uber {
  height: 30px;
  margin: 10px;
}
.main1 .logo .Target {
  height: 50px;
  margin: 10px;
}
.main1 .logo .NYT {
  height: 50px;
  margin: 10px;
}
.main1 .logo .Etsy {
  height: 50px;
  margin: 10px;
}
.main1 .phone_img {
  justify-content: space-around;
  max-width: 100%;
  padding: 15px 0px;
}
.main1 .phonecard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 0px 4vw 2px 4vw;
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}
.main1 .phonecard .phone_text {
  font-weight: 650;
  line-height: 1.1875;
  letter-spacing: -0.3px;
  margin-bottom: 1rem;
  font-size: 30px;
}
.main1 .phonecard .phone_p {
  align-items: left;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4444;
  letter-spacing: normal;
  font-size: 18px;
  margin-bottom: 16px;
}
.main1 .phonecard .phone_a {
  align-items: left;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4444;
  letter-spacing: normal;
  font-size: 18px;
  margin-bottom: 16px;
  justify-content: flex-start;
  text-decoration: none;
  color: #1264a3;
  border-bottom: none;
}
.main1 .padding {
  margin-top: 65px;
  margin-bottom: 10px;
}
.main1 .margin {
  padding-bottom: 30px;
}

.main2 {
  background-color: white;
  max-width: 100%;
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
}
.main2 .buttonslack {
  padding-top: 78px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px, 15px;
}
.main2 .buttonslack h3 {
  line-height: 1.1875;
  letter-spacing: -0.3px;
  margin-bottom: 1rem;
  font-size: 30px;
  text-align: center;
}
.main2 .buttonslack .Equiposp {
  text-align: center;
  font-weight: 400;
  line-height: 1.444;
  letter-spacing: -0.2px;
  margin: 5px 0px 20px 0px;
  font-size: 18.4px;
}
.main2 .buttonslack .know {
  background-color: rgb(84, 21, 84);
  line-height: 1.444;
  letter-spacing: 0.2px;
  color: white;
  width: 100%;
  height: 55px;
  margin-bottom: 20px;
  font-size: 14.5px;
}
.main2 .buttonslack .sells {
  line-height: 1.444;
  letter-spacing: 0.2px;
  color: rgb(84, 21, 84);
  width: 100%;
  height: 55px;
  margin-bottom: 10px;
  box-shadow: inset 0 0 0 1px rgb(84, 21, 84);
  font-size: 14.5px;
}
.main2 .buttonslack .porcent {
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  font-size: 45px;
  color: rgb(84, 21, 84);
  margin-top: 30px;
}
.main2 .buttonslack .legend {
  line-height: 1.4286;
  letter-spacing: normal;
  font-weight: 400;
  text-align: center;
  padding: 0px 95px;
  font-size: 14px;
}
.main2 .buttonslack .Space {
  margin-top: 70px;
}
.main2 .buttonslack .Spacedown {
  margin-bottom: 82px;
}

.main3 {
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  max-width: 100%;
}
.main3 .description {
  padding: 32px;
  background-color: white;
}
.main3 .description .quote {
  font-style: italic;
  font-weight: 300;
  line-height: 1.417;
  letter-spacing: -0.3px;
  margin-top: 48px;
  font-size: 21px;
}
.main3 .description .founder {
  font-weight: 700;
  margin-top: 16px;
}
.main3 .description .diploma {
  font-size: 16px;
  margin-bottom: 20px;
}
.main3 .description .clients {
  align-items: left;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4444;
  letter-spacing: normal;
  font-size: 18px;
  margin-bottom: 16px;
  justify-content: flex-start;
  text-decoration: none;
  color: #1264a3;
  border-bottom: none;
  font-size: 17px;
}
.main3 .porcentage {
  background-color: white;
  line-height: 1.4286;
  letter-spacing: normal;
  font-weight: 400;
  text-align: center;
  padding: 45px 16px 15px 16px;
  font-size: 14px;
}
.main3 .section {
  background-color: rgb(244, 237, 228);
  padding: 55px 0px 16px;
}
.main3 .section .titlecard {
  text-align: center;
  margin: 32px, 0px, 16px;
  padding: 0px 16px 16px 16px;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: -0.3px;
  font-size: 23px;
}
.main3 .section .Funtioncard {
  display: flex;
  justify-content: center;
}
.main3 .section .Funtioncard .ComplexCard {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 285px;
  height: 420px;
}
.main3 .section .Funtioncard .ComplexCard .Slackimg {
  display: flex;
  justify-content: center;
  width: 93%;
  height: 45%;
  padding: 8px;
}
.main3 .section .Funtioncard .ComplexCard .Smallcard {
  line-height: 1.4286;
  letter-spacing: normal;
  font-weight: 400;
  text-align: left;
  padding: 10px 13px;
  font-size: 14px;
}
.main3 .section .Funtioncard .ComplexCard .Normalcard {
  text-align: left;
  margin: 32px, 0px, 16px;
  padding: 0px 16px 65px 16px;
  line-height: 1.30625;
  letter-spacing: 0.3px;
  font-size: 20px;
  font-weight: 550;
}
.main3 .section .Funtioncard .ComplexCard .LinkCard {
  justify-content: flex-start;
  text-decoration: none;
  color: #1264a3;
  border-bottom: none;
  align-items: left;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: 0.8px;
  font-size: 14px;
  margin-bottom: 16px;
  margin-left: 15px;
}
.main3 .section .dots {
  width: 110px;
  margin-left: 150px;
  margin-top: 30px;
}

.main4 {
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  max-width: 414px;
  background-color: white;
}
.main4 .Site {
  padding: 80px 0px 70px;
  margin-bottom: 54px;
  background-color: rgb(84, 21, 84);
  display: flex;
  flex-direction: column;
  -webkit-clip-path: ellipse(105% 100% at center top);
          clip-path: ellipse(105% 100% at center top);
  padding-bottom: 6rem;
}
.main4 .Site .Siteh {
  font-weight: 700;
  line-height: 1.0625;
  letter-spacing: -1.5px;
  text-align: center;
  color: white;
  font-size: 32px;
  padding-bottom: 40px;
}
.main4 .Site .SiteButtonP {
  background-color: white;
  color: rgb(84, 21, 84);
  justify-content: center;
  margin: 0px 15px;
  max-width: 97%;
  height: 57px;
  font-weight: 700;
  line-height: 1.2857;
  letter-spacing: 0.8px;
}
.main4 .Site .SiteButtonW {
  background-color: rgb(84, 21, 84);
  color: white;
  justify-content: center;
  margin: 16px 15px 0px;
  max-width: 97%;
  height: 57px;
  box-shadow: inset 0 0 0 1px white;
  font-weight: 700;
  line-height: 1.2857;
  letter-spacing: 0.8px;
}
.main4 .NavFoot {
  padding: 0px 16px;
}
.main4 .NavFoot .SlackUcraine {
  height: 64px;
  width: 64px;
}
.main4 .NavFoot .NavF {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
}
.main4 .NavFoot .NavF .NavText {
  line-height: 0.4444;
  letter-spacing: normal;
  height: 40px;
  font-weight: 700;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}
.main4 .NavFoot .NavF .NavText .arrow {
  height: 20px;
  width: 13px;
  padding-bottom: 15px;
  padding-right: 10px;
}

footer {
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  max-width: 414px;
  background-color: white;
  margin-left: 16px;
  margin-right: 16px;
}
footer .FooterList {
  padding-top: 16px;
  padding-bottom: 16px;
  list-style: none;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(192, 192, 192);
}
footer .FooterList .Footeritems {
  padding: 17px 0;
  font-weight: 700;
  line-height: 1.2857;
  letter-spacing: normal;
  font-size: 13px;
}
footer .Download {
  font-weight: 700;
  line-height: 1.2857;
  letter-spacing: normal;
  font-size: 13px;
  color: #1264a3;
  text-decoration: none;
  padding-top: 70px;
}
footer .Download .cloud {
  height: 15px;
  width: 15px;
}
footer .Social {
  padding-top: 20px;
  padding-bottom: 16px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .Social .Socialnet {
  height: 25px;
  width: 25px;
}
footer .FINAL {
  background-color: white;
  line-height: 1.4286;
  letter-spacing: normal;
  font-weight: 300;
  padding: 15px 0px 45px;
  font-size: 12.5px;
}/*# sourceMappingURL=styles.css.map */